.photo-grid{
    width: 880px;
    height: 743px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 17px;
    margin: auto;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .photo-grid{
        width: 282px;
        height: fit-content;
        flex-direction: column;
        gap: 20px;
    }
} 