.photo-grid__cards{
    width: 282px;
    height: 361px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
    'images images'
    'text love';
    background-color: #fff;
    border-radius: 10%;
    overflow: hidden;
    position: relative;
}