.photo-grid__cards-love{
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: #fff;
    grid-area: love;
    text-align: center;
    font-size: 24px;
    margin: 0 15px 0 0;
}