@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__title/header__title-sup.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info/profile__info-container.css);
@import url(../blocks/profile/__info/profile__info-names.css);
@import url(../blocks/profile/__info/profile__info-jobs.css);
@import url(../blocks/profile/__button/profile__button-add.css);
@import url(../blocks/profile/__button/profile__button-edit.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__cards/photo-grid__cards.css);
@import url(../blocks/photo-grid/__cards/photo-grid__cards-item.css);
@import url(../blocks/photo-grid/__cards/photo-grid__cards-text.css);
@import url(../blocks/photo-grid/__cards/photo-grid__cards-love.css);
@import url(../blocks/photo-grid/__cards/photo-grid__cards-love--active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/pop-up/pop-up.css);
@import url(../blocks/pop-up/__active/pop-up__active.css);
@import url(../blocks/pop-up/__overlay/pop-up__overlay.css);
@import url(../blocks/pop-up/__container/pop-up__container-title.css);
@import url(../blocks/pop-up/__container/pop-up__container.css);
@import url(../blocks/pop-up/__container/pop-up__input.css);
@import url(../blocks/pop-up/__close/pop-up__close.css);
@import url(../blocks/pop-up/__save/pop-up__save.css);
@import url(../blocks/pop-up/pop-add.css);

.photo-grid__delete {
    width: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    grid-area: images;
    background-image: url('../images/delete-btn.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: transparent;
    border: none;
}

.photo-grid__delete:hover {
    background-image: url('../images/delete-btn--hover.svg');
}

.pop-add--active {
    display: block;
}

.pop-add__close{
    width: 40px;
    height: 40px;
    position: absolute;
    top: -50px;
    right: -50px;
    border: none;
    background-color: transparent;
    padding: 0;
    background-image: url('../images/close.svg');
    background-repeat: no-repeat;
}

.pop-add__close:hover{
    background-image: url('../images/close_hover.svg');
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .pop-add__close{
        right: 0px;
        width: 26px;
        height: 26px;
        background-size: 26px 26px;
    }
}

.pop-add__input{
    width: 358px;
    margin: 0 auto 27px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .pop-add__input{
        width: 238px;
        margin: 0 auto 30px;
        font-size: 14px;
        line-height: 17px;
    }
}

.pop-add__save{
    width: 358px;
    height: 50px;
    background-color: #000;
    margin: 21px auto 36.5px;
    color: #fff;
    border: transparent;
}

.pop-add__save:hover{
    background-color: #808080;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .pop-add__save{
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin: 16px auto 25px;
    }
}

.pop-add__container-title{
    width: 358px;
    margin: 34px auto 54px;
    font-family: inter;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .pop-add__container-title{
        width: 238px;
        margin: 25px auto 76px;
        font-size: 18px;
        line-height: 22px;
    }
}

.pop-add__container {
    width: 430px;
    min-height: 330px;
    background-color: #fff;
    border-radius: 1%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;

}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .pop-up__container {
        width: 282px;
        min-height: 322px;
    }
}

.pop-add__overlay{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
