.profile__button{
    width: fit-content;
    height: fit-content;
    background-color: #000;
    border: 1px solid #fff;
    padding: 0;
    margin: auto;
    grid-area: add;
}

.profile__button:active{
    border-color: gray;
}