.pop-up__container-jobs{
    width: 358px;
    margin: 30px auto 0;
    border: none;
    border-bottom: 1px solid #000;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .pop-up__container-jobs{
        width: 238px;
        font-size: 14px;
        line-height: 17px;
    }
}