.pop-up__container-names{
    width: 358px;
    margin: 54px auto 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .pop-up__container-names{
        width: 238px;
        margin: 76px auto 0;
        font-size: 14px;
        line-height: 17px;
    }
}